<div class="col-lg-6">
  <h2> Contact </h2>
  <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
    <div class="mb-3 ">
      <label for="name" class="form-label"> Prénom et Nom: </label>
      <input type="text" class="form-control" id="name" [(ngModel)]="contact.name" name="name" required >
    </div>
    <div class="mb-3 ">
      <label for="email" class="form-label">Email: </label>
      <input type="email" class="form-control" id="email" [(ngModel)]="contact.email" name="email" required >
    </div>
    <div class="mb-3 ">
      <label for="message" class="form-label">Message: </label>
      <textarea id="message" class="form-control" [(ngModel)]="contact.message" name="message" required></textarea>
    </div>
    <button type="submit" class="btn " [disabled]="!contactForm.form.valid">Envoyer</button>
  </form>
</div>
