a{
    color: #000;
}

.copyright {
    background: #00497c;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background: #0074c7 ;
    color: #000;
}
