
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <div *ngIf="artisan !== null && artisan.photo" class="card" style="width: 18rem;" >
            <img [src]="artisan.photo" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">{{artisan.name}}</h5>
                <p class="card-text">{{artisan.artisanSpecialite}}</p>
                <button type="button" (click)="goBack()">Retour</button>
            </div>
        </div>
      </div>
    </div>
    <div class="contact">
      <h2> Formulaire de contact</h2>
      <div class="col-lg-6">
        <app-formulaire-contact></app-formulaire-contact>
      </div>
      
    </div>
</section>




