<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Trouver son artisan</h1>
            <ul class="list-styled text-start fs-5">
                <li>Choisir la catégorie d'artisanat dans le menu.</li>
                <li>Choisir un artisan.</li>
                <li>Le contacter via le formulaire de contact.</li>
                <li>Une réponse sera apportée sous 48h.</li>
            </ul>
        </div>
    </div>
    <div>
        <h2> Les artisans du mois</h2>
        <app-artisan-list></app-artisan-list>
    </div>
</section>