
<header>
  <nav class="navbar navbar-expand-lg  fixed-top">
    <a routerLink="/accueil" class="navbar-brand"><img src="assets/img/logo-artisan.png" class=" img-fluid rounded m-2" alt="logo au petit village"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a routerLink="/batiment" class="nav-link text-uppercase" > Batiment</a>
        </li>
        <li class="nav-item ">
          <a routerLink="/services" class="nav-link text-uppercase" >Services</a>
        </li>
        <li class="nav-item ">
          <a routerLink="/fabrication" class="nav-link text-uppercase" > Fabrication</a>
        </li>
        <li class="nav-item ">
          <a routerLink="/alimentation" class="nav-link text-uppercase" > Alimentation</a>
        </li>
      </ul>
      <div class="col-md-4 mx-auto">
        <form class="d-flex" #f="ngForm" (ngSubmit)="onSubmit()"  name="form">
          <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Recherche" #search="ngModel"
          [(ngModel)]="form.search" name="search">
          <button class="btn btn-outline-success" type="submit">Rechercher</button>
        </form>
      </div>
    </div>
  </nav>      
</header>

